<div class="row mb-4">
  <div class="col-md-6">
    <h3 class="text-center float-start text-light">Futuros Objetivos</h3>
  </div>
  <div class="col-md-6">
    <%= link_to new_future_goal_path, class: "btn float-end" do %>
      <i class="bi bi-plus-lg"></i>
    <% end %>
  </div>
</div>

<div class="row">

  <h1 class="text-uppercase fs-3 text-light">Urgentes</h1>
  <% @future_goals.urgent.each do |future_goal|%>
    <div class="card mx-2 mb-4 bg-danger shadow" style="width: 18rem;">
      <div class="card-body">
        <p class="card-title fs-4"><%= future_goal.name %></p>
        <hr>
        <label class="fw-bold">Descrição: </label class="card-text"> <%= future_goal.description %></label><br>
        <label class="card-text"> <%= number_to_currency(future_goal.total, unit: "R$", separator: ",", delimiter: ".") %></label><br>
        <label class="fw-bold">Data:</label><label> <%= future_goal.ending_date.strftime("%d/%m/%Y") %></label>
      </div>
      <div class="card-body">
        <%= link_to 'Editar', edit_future_goal_path(future_goal), class: "text-decoration-none text-dark" %>
        <%= link_to 'Deletar', future_goal_path(future_goal), method: :delete, class: 'text-decoration-none text-dark float-end', data: { confirm: "Confirma memo?" } %>
      </div>
    </div>
  <% end %>
  <hr>

  <h1 class="text-uppercase fs-3 text-light">Necessários</h1>
  <% @future_goals.need.each do |future_goal|%>
    <div class="card mx-2 mb-4 bg-warning shadow" style="width: 18rem;">
      <div class="card-body">
        <p class="card-title fs-4"><%= future_goal.name %></p>
        <hr>
        <label class="fw-bold text-uppercase"> Descrição: </label class="card-text"> <%= future_goal.description %></label><br>
        <label class="card-text"> <%= number_to_currency(future_goal.total, unit: "R$", separator: ",", delimiter: ".") %></label><br>
        <label class="fw-bold">Data:</label><label> <%= future_goal&.ending_date.strftime("%d/%m/%Y") %></label>
      </div>
      <div class="card-body">
        <%= link_to 'Editar', edit_future_goal_path(future_goal), class: "text-decoration-none text-dark" %>
        <%= link_to 'Deletar', future_goal_path(future_goal), method: :delete, class: 'text-decoration-none text-dark float-end', data: { confirm: "Confirma memo?" } %>
      </div>
    </div>
  <% end %>

  <hr>
  <h1 class="text-uppercase fs-3 text-light">Não Necessários</h1>
  <% @future_goals.no_need.each do |future_goal|%>
    <div class="card mx-2 mb-4 bg-secondary shadow" style="width: 18rem;">
      <div class="card-body">
        <p class="card-title fs-4"><%= future_goal.name %></p>
        <hr>
        <label class="fw-bold">Descrição: </label class="card-text"> <%= future_goal.description %></label><br>
        <label class="card-text"> <%= number_to_currency(future_goal.total, unit: "R$", separator: ",", delimiter: ".") %></label><br>
        <label class="fw-bold">Data:</label><label> <%= future_goal.ending_date.strftime("%d/%m/%Y") %></label>
      </div>
      <div class="card-body">
        <%= link_to 'Editar', edit_future_goal_path(future_goal), class: "text-decoration-none text-dark" %>
        <%= link_to 'Deletar', future_goal_path(future_goal), method: :delete, class: 'text-decoration-none text-dark float-end', data: { confirm: "Confirma memo?"} %>
      </div>
    </div>
  <% end %>
  <hr>
</div>
