<%= form_with model: @saving do |form| %>
  <div class="cadaster-values">
    <div class="form-group col-md-5">
    <%= form.hidden_field :balance, value: Credit.total_credit_savings %>
    <%= form.label 'Lucro da poupança em porcentagem', class: "text-light" %>
    <%= form.text_field :profit, class: "form-control", required: "required" %>
  </div>
  <div class="form-group">
    <%= form.label 'Imposto de Renda', class: "text-light" %>
    <%= form.text_field :income_tax, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label 'IOF', class: "text-light" %>
    <%= form.text_field :iof, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.submit :salvar, class: "btn btn-success mt-3" %>
  </div>
<% end %>