<div class="row">
  <div class="col-md-3 offset-10 mb-3">
    <%= link_to edit_saving_path(current_user.savings.first), class: "btn btn-dark" do %>
      <i class="bi bi-pencil me-3 text-light"></i> Editar porcentagem
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 text-center">
    <div class="card-info">
      <h2 class="mt-2 mb-1">Valor recebido Anualmente</h2>
      <h3><label class="text-success mb-4"><%= number_to_currency(@saving.profit_annually(@saving, current_user), unit: "R$ ", separator: ",", delimiter: ".") %></label></h3>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="card-info">
      <h2 class="mt-2 mb-1">Valor recebido Mensalmente</h2>
      <h3><label class="text-success mb-4"><%= number_to_currency(@saving.profit_monthly(@saving, current_user), unit: "R$ ", separator: ",", delimiter: ".") %></label></h3>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="card-info">
      <h2 class="mt-2 mb-1">Valor recebido Diariamente</h2>
      <h3><label class="text-success mb-4"><%= number_to_currency(@saving.profit_daily(@saving, current_user), unit: "R$ ", separator: ",", delimiter: ".") %></label></h3>
    </div>
  </div>
</div>

<table class="table table-default mt-5">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor</th>
      <th scope="col">Dia de pagamento</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.expenses.saving.each do |expense| %>
      <tr>
        <td>Despesas</td>
        <td><%= expense.name %></td>
        <td><%= expense.description.truncate(40) %></td>
        <td class="text-danger"><%= number_to_currency(expense.total, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td><%= expense.payment_at&.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
    <% current_user.credits.saving.each do |credit| %>
      <tr>
        <td>Entradas</td>
        <td><%= credit.name %></td>
        <td><%= credit.description.truncate(40) %></td>
        <td class="text-success"><%= number_to_currency(credit.total, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td><%= credit.payment_at&.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
