<div class="row mb-4">
  <div class="col title">
  </div>
  <div class="col offset-md-8">
    <%= link_to new_credit_path, class: "float-end text-light btn btn-outline-secondary" do %>
      Novo Credito <i class="bi bi-plus-lg text-light"></i> 
    <% end %>
  </div>
</div>
<h1 class="text-light">Saldos Futuros</h1>
<table class="table table-default text-dark">
  <thead>
    <tr class="table-search text-dark">
      <th class="col-md-2">Alterando</th>
      <th class="col">Nome</th>
      <th class="col-md-4">Descrição</th>
      <th class="col">Valor</th>
      <th class="col">Dia de pagamento</th>
      <th class="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @credits.each do |credit| %>
    <% if credit.payment_at > Date.current %>
      <tr>
        <td><%= credit.flux.capitalize %></td>
        <td><%= credit.name %></td>
        <td><%= credit.description %></td>
        <td class="text-success"><%= number_to_currency(credit.total, unit: "R$ ", separator: ",", delimiter: ".") %></td>
        <td><%= credit.payment_at&.strftime("%d/%m/%Y") %></td>
        <td class="icons">
          <%= link_to edit_credit_path(credit), class: "me-5" do %>
            <i class="bi bi-pencil" title="Edit"></i>
          <% end %>
          <%= link_to credit_path(credit), method: :delete, data: { confirm: "Confirm?" } do %>
            <i class="bi bi-trash" title="Delete"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<h1 class="text-light">Ganhos</h1>
<table class="table table-default">
  <thead>
    <tr class="table-search">
      <th class="col-md-2">Alterando</th>
      <th class="col">Nome</th>
      <th class="col-md-4">Descrição</th>
      <th class="col">Valor</th>
      <th class="col">Dia de pagamento</th>
      <th class="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @credits.each do |credit| %>
    <% if credit.payment_at <= Date.current %>
      <tr>
        <td><%= credit.flux.capitalize %></td>
        <td><%= credit.name %></td>
        <td><%= credit.description %></td>
        <td class="text-success"><%= number_to_currency(credit.total, unit: "R$ ", separator: ",", delimiter: ".") %></td>
        <td><%= credit.payment_at&.strftime("%d/%m/%Y") %></td>
        <td class="icons">
          <%= link_to edit_credit_path(credit), class: "me-5" do %>
            <i class="bi bi-pencil" title="Edit"></i>
          <% end %>
          <%= link_to credit_path(credit), method: :delete, data: { confirm: "Confirm?" } do %>
            <i class="bi bi-trash" title="Delete"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>