
<nav class="navbar navbar-expand-lg navbar-dark bg-default">
  <div class="container-fluid">
    <a href="/"><%= image_tag "myfinanceslogo", class: "me-5" %></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
            Gastos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to "Nova Despesa", new_expense_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown text-dark">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
            Entradas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><li><%= link_to "Novo Credito", new_credit_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown text-dark">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
            Futuros Objetivos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><li><%= link_to "Novo Objetivo", new_future_goal_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown text-dark">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
            Emprestimos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><li><%= link_to "Novo Emprestimo", new_loan_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown text-dark">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
            Poupança
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><li><%= link_to "Nova Poupança", new_saving_path, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    </div>
    <%= link_to destroy_user_session_path, method: :delete, class: "fs-5 me-5 text-decoration-none text-dark" do %>
      Logout <i class="bi bi-power text-dark"></i>
    <% end %>
    <p class="float-end text-dark me-5 table-default rounded-pill p-2 mt-2"><%= Time.current.strftime("%d/%m/%y - %H:%M") %></p>
  </div>
</nav>